<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WADV.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <userSettings>
    <WADV.MySettings>
      <setting name="PluginURL" serializeAs="String">
        <value>plugin</value>
      </setting>
      <setting name="ResourceURL" serializeAs="String">
        <value>resource</value>
      </setting>
      <setting name="SkinURL" serializeAs="String">
        <value>resource\skin</value>
      </setting>
      <setting name="ScriptURL" serializeAs="String">
        <value>script</value>
      </setting>
      <setting name="UserFileURL" serializeAs="String">
        <value>userfile</value>
      </setting>
    </WADV.MySettings>
  </userSettings>
</configuration>